{{! Extends the main layout }}
{{> header }}

<div class="min-h-screen flex flex-col items-center justify-center text-center p-6">
    <h3 class="text-xl font-semibold text-blue-400">
        April 20 - 26, Berlin, Germany
    </h3>

    <h1 class="text-4xl font-bold text-blue-600 mt-2">
        Ulexo Developer Conference 2025
    </h1>

    <div class="w-[700px] mx-auto my-4" >
        <img class="w-full rounded-md" alt="banner-image" src="https://miro.medium.com/v2/resize:fit:1200/1*5akpxEAq4fjVmd5pDtqDig.jpeg" />
    </div>

    <div class="mt-4">
        <a href="/contact" class="bg-blue-700 rounded text-white p-3" >Buy Ticket</a>
    </div>

</div>

{{> footer }}
